.form-order {
	margin-top: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.offer {
	padding: 16px 0;
	position: relative;
	width: max-content;
}

.offer-price {
	font-size: 48px;
	font-weight: 600;
	//color: #1e94b7;
}

.offer-price-old {
	position: absolute;
	right: 0;
	top: 10px;
	font-size: 18px;
	color: #fc3333;
	text-decoration: line-through
}
